.page-template-front-page {
	.full-width-slider {
		@include media( $large-screen ) {
			margin-bottom: $hundred;
		}
	}
}

.full-width-slider {
	overflow: hidden;
	position: relative;
	width: 100vw;
	@include media( $large-screen ) {
		height: calc(100vh - 100px);
		width: 100%;
	}
	.slick-list {
		.slide {
			position: relative;
			@include media( $large-screen ) {
				height: calc(100vh - 100px);
			}
			.slide-caption {
				background: $white;
				bottom: $twentyfive;
				left: 0;
				padding: $five $fifteen;
				position: absolute;
				text-align: right;
				width: 50%;
				@include media( $large-screen ) {
					bottom: 150px;
					padding: $ten $twentyfive $ten 0;
				}
				a {
					color: $black;
					font: {
						size: 18px;
					}
					@include media( $large-screen ) {
						font: {
							size: 36px;
						}
					}
					&:hover {
						color: $dark_blue;
					}
				}
			}
		}
	}
}

.page-title {
	background: rgba(255,255,255,.9);
	bottom: 150px;
	box-shadow: 1px 1px 2px $gray;
	left: 0;
	padding: $five $fifteen;
	position: absolute;
	text-align: right;
	width: 50%;
	@include media( $large-screen ) {
		padding: $ten $twentyfive $ten 0;
	}
}

.scroll-for-content {
	display: none;
	left: 50%;
	bottom: $twentyfive;
	position: absolute;
	@include transform(translateX(-50%));
	@include media( $large-screen ) {
		display: block;
	}
	svg {
		width: 75px;
		path {
			fill: $white;
		}
	}
	&:hover {
		cursor: pointer;
		svg {
			path {
				fill: $dark_blue;
			}
		}
	}
}

.large-open-section-container {
	@include outer-container;
	.large-open-section {
		@include span-columns(10);
		@include shift(1);
		padding: $hundred $twentyfive;
		text-align: center;
		@include media( $large-screen ) {
			padding: 0 $hundred $hundred;
		}
		h3 {
			p:last-child {
				margin: 0;
			}
		}
		svg {
			max-width: 400px;
		}
	}
}

.double-images {
	@include row();
	.image-one,
	.image-two {
		@include span-columns(12);
		margin-bottom: $fifty;
		@include media( $large-screen ) {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: $hundred;
		}
		img {
			float: left;
		}
		.image-content {
			clear: both;
			padding-top: $twentyfive;
			text-align: center;
		}
	}
}

.section-header {
	@include outer-container;
	margin-top: $hundred;
	h4 {
		border-bottom: 1px solid $black;
		margin-bottom: $twentyfive;
		padding-bottom: $five;
		text-align: center;
		text-transform: uppercase;
	}
}

.section-title {
	text-align: center;
	h2 {
		margin-bottom: $twentyfive;
	}
}

.small-image-caption {
	font-size: 12px;
	font-style: italic;
}

.image-with-content {
	@include outer-container;
	margin-bottom: $hundred;
	.image {
		@include span-columns(10);
		@include shift(1);
		margin-bottom: $twentyfive;
		@include media( $large-screen ) {
			@include span-columns(6);
			@include shift(0);
			margin-bottom: 0;
		}
	}
	.content {
		@include span-columns(10);
		@include shift(1);
		@include media( $large-screen ) {
			@include span-columns(6);
			@include shift(0);
		}
	}
}

.full-width-banner,
.full-width-banner-with-title {
	margin-bottom: $hundred;
}

.page-banner-with-title,
.full-width-banner,
.full-width-banner-with-title {
	@include row();
	position: relative;
	img {
		float: left;
	}
}

.large-button {
	@include outer-container;
	text-align: center;
	.button {
		font-size: 18px;
		margin-bottom: $hundred;
		@include span-columns(4);
		@include shift(4);
		@include media( $large-screen ) {
			@include span-columns(2);
			@include shift(5);
		}
	}
}

.portal-container {
	@include outer-container;
	margin-bottom: $hundred;
	.content-portal {
		position: relative;
		@include span-columns(12);
		margin-bottom: $fifty;
		@include media( $large-screen ) {
			@include span-columns(6);
		}
		.image {
			img {
				float: left;
			}
		}
		.caption,
		.content {
			position: absolute;
			text-align: center;
			width: 100%;
			a {
				color: $black;
				&:hover {
					color: $dark_blue;
				}
			}
		}
		.caption {
			background: rgba(255,255,255,.8);
			bottom: $fifty;
			color: $black;
			left: 0;
			padding: $five 10%;
			width: 50%;
			@include media( $large-screen ) {
				padding: $five;
				text-align: right;
			}
		}
		.content {
			bottom: 45px;
			color: $white;
			padding-left: 10%;
			padding-right: 10%;
			@include media( $large-screen ) {
				padding-left: 5%;
				padding-right: 5%;
			}
			label[for="epm-email"],
			input[name="epm-submit-chimp"] {
				display: none;
			}
			h3 {
				margin-bottom: $ten;
			}
			.epm-form-field {
				margin: 0 auto;
				width: 75%;
				@include media( $large-screen ) {
					width: 50%;
				}
				.email {
					background-image: url(../images/mail.svg);
					background-position: $five center;
					background-repeat: no-repeat;
					color: $gray;
					font-size: 14px;
					padding: 5px 10px 5px $thirty;
				}
			}
		}
	}
}

.even-alternating {
	.alternating-section {
		@include row();
		margin-bottom: $hundred;
		.image {
			@include span-columns(12);
			margin-bottom: $twentyfive;
			@include media( $large-screen ) {
				@include span-columns(6);
				margin-bottom: 0;
			}
			img {
				float: left;
			}
		}
		.content {
			@include span-columns(10);
			@include shift(1);
			@include media( $large-screen ) {
				@include span-columns(6);
				@include shift(0);
				margin-bottom: 0;
			}
			.step {
				margin-bottom: $twentyfive;
			}
			.description {
				@include media( $large-screen ) {
					width: 50%;
				}
			}
		}
	}
	.odd-row {
		display: flex;
		flex-flow: column-reverse;
		@include media( $large-screen ) {
			display: block;
			flex-flow: column;
		}
		.content {
			@include media( $large-screen ) {
				text-align: right;
			}
			.description {
				@include media( $large-screen ) {
					float: right;
				}
			}
		}
	}
	.even-row {
	}
}

.large-process-list {
	@include outer-container;
	margin-bottom: $hundred;
	.process-list {
		@include row();
		.number-row {
			@include span-columns(10);
			@include shift(1);
			margin-bottom: $fifty;
			@include media( $large-screen ) {
				@include span-columns(6);
				@include shift(3);
				margin-bottom: $twentyfive;
			}
			.step {
				margin-bottom: $fifteen;
				@include media( $large-screen ) {
					@include span-columns(2);
					margin-bottom: 0;
					text-align: center;
				}
			}
			.summary {
				@include media( $large-screen ) {
					@include span-columns(10);
				}
			}
		}
	}
}

.small-process-list {
	.process-list {
		@include span-columns(10);
		@include shift(1);
		@include media( $large-screen ) {
			@include span-columns(12);
			@include shift(0);
		}
		.number-row {
			margin-bottom: $thirty;
			.content {
				@include row();
				.step {
					margin-bottom: $fifteen;
					@include media( $large-screen ) {
						@include span-columns(1);
						text-align: center;
						margin-bottom: 0;
					}
				}
				.summary {
					@include media( $large-screen ) {
						@include span-columns(10);
					}
				}
			}
		}
	}
}

.image-and-process {
	@include outer-container;
	margin-bottom: $hundred;
	.image {
		@include row();
		margin-bottom: $twentyfive;
		@include media( $large-screen ) {
			margin-bottom: 0;
		}
		.caption {
			@include span-columns(10);
			@include shift(1);
			color: $gray;
			font-style: italic;
			a {
				color: $gray;
			}
			@include media( $large-screen ) {
				@include span-columns(12);
				@include shift(0);
			}
		}
	}
	.image,
	.small-process-list {
		@include media( $large-screen ) {
			@include span-columns(6);
			@include shift(0);
		}
	}
}

.bike-archive,
.products {
	@include outer-container;
	margin-bottom: $hundred;
	.product,
	.portal {
		@include span-columns(12);
		margin-bottom: $fifty;
		position: relative;
		@include media( $large-screen ) {
			@include span-columns(6);
			@include omega(2n);
		}
	}
}

.goods-archive {
	@include outer-container;
	margin-bottom: $hundred;
	.portal,
	.product {
		@include span-columns(12);
		margin-bottom: $fifty;
		position: relative;
		@include media( $large-screen ) {
			@include span-columns(4);
			@include omega(3n);
		}
	}
}

.bike-archive,
.products,
.portal-container,
.goods-archive {
	.portal,
	.content-portal,
	.product {
		img {
			float: left;
		}
		.title {
			background: $white;
			bottom: $fifty;
			padding: $five $ten;
			position: absolute;
			text-align: right;
			width: 50%;
		}
		.overlay {
			background: $black;
			height: 100%;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@include transition(opacity .2s ease-in-out);
		}
		&:hover {
			.overlay {
				opacity: .8;
			}
		}
	}
}

.specs {
	@include outer-container;
	border-bottom: 1px solid $black;
	margin-bottom: $hundred;
	padding-bottom: $fifty;
	padding-top: $twentyfive;
	.spec-container {
		@include media( $large-screen ) {
			@include columns(2);
		}
		.spec {
			list-style-type: disc;
			margin-left: $fifty;
			margin-bottom: $fifteen;
			padding: $five 10% $five 0;
			@include media( $large-screen ) {
				display: inline-block;
				list-style-type: none;
				margin-left: 0;
				padding: $five 20%;
			}
		}
	}
}

.highlight-gallery {
	margin-bottom: $hundred;
	.slick-next {
		@include media( $large-screen ) {
			right: $twentyfive;
		}
	}
	.slick-prev {
		@include media( $large-screen ) {
			left: $twentyfive;
		}
	}
	.slick-track {
		.highlight-image {
			img {
				@include media( $large-screen ) {
					padding: 0 $twentyfive;
				}
			}
			.highlight-caption {
				color: $gray;
				font-size: 14px;
				font-style: italic;
			}
		}
	}
}
