.products {
	@include outer-container;
	.product {
		@include span-columns(6);
		@include omega(2n);
	}
}

.woocommerce-breadcrumb {
	@include outer-container;
	margin-bottom: $fifty;
	padding: $ten 0;
}

.product-cat-bikes {
	.composite_wrap {
		.quantity {
			display: none;
		}
	}
}

.product-top {
	@include outer-container;
	margin-bottom: $hundred;
	.images,
	.featured-image {
		margin-bottom: $twentyfive;
		@include media( $large-screen ) {
			@include span-columns(6);
			// @include shift(1);
		}
	}
	.summary {
		@include span-columns(10);
		@include shift(1);
		@include media( $large-screen ) {
			@include span-columns(6);
			@include shift(0);
			@include omega;
		}
		@include omega;
		[data-nav_title="Paint"] {
			display: none;
			.component_options {
				display: none;
			}
			.component_content {
				.component_section_title,
				.component_section_title,
				.composited_product_title,
				.woocommerce-variation-price {
					display: none;
				}
				.variations {
					.label {
						display: none;
					}
					.value {
						display: block;
						width: 50%;
					}
				}
			}
		}
		.composite_form {
			.composite_pagination {
				margin: 0;
				.pagination_element {
					margin-right: $fifteen;
					padding-bottom: 0;
					.element_link {
						font-size: 14px;
						font-weight: 400;
					}
					&:after {
						display: none;
					}
				}
				.pagination_element_review {
					// display: none;
				}
			}
			.component {
				h4 {
					font-weight: 400;
				}
				.component_title {
					display: none;
				}
				.component_selections {
					.select_label {
						font-style: italic;
						font-weight: 400;
					}
				}
				.component_selections > * {
					padding-left: 0;
				}
				.component_options {
					.component_options_inner {
						padding-bottom: 0;
					}
				}
			}
			.composite_navigation.paged {
				margin-bottom: $fifty;
				padding: 0;
				a {
					font-size: 16px;
					font-weight: 400;
				}
			}
			&.small_width {
				.composite_pagination {
					display: block;
				}
			}
			[data-nav_title="Frame"] {
				.component {
					.details {
						float: none;
						padding: 0;
					}
				}
				.bundled_product {
					@include span-columns(4);
					@include omega(3n);
					margin-bottom: $ten;
					padding: 0 $ten 0 0;
					h4 {
						font-size: 12px;
						font-weight: 400;
					}
					label {
						font-size: 14px;
						font-weight: 400;
					}
				}
				.bundle_data {
					clear: both;
					font-weight: 700;
					.bundle_price {
						display: none;
					}
				}
			}
			[data-nav_title="Paint"] {
				.details {
					padding-left: 0;
				}
				.bundled_product_summary {
					float: left;
					padding-right: $twentyfive;
					width: 50%;
				}
				.bundled_product {
					.variations {
						.attribute-options {
							.label {
								display: none;
							}
						}
					}
					.single_variation_wrap {
						.woocommerce-variation-price {
							display: none;
						}
					}
				}
				.bundle_price {
					display: none;
				}
			}
			.component_inner {
				padding-bottom: 0;
				.component_description_wrapper {
					font-size: 14px;
				}
			}
			[data-nav_title="Drivetrain"],
			[data-nav_title="Cockpit"],
			[data-nav_title="Wheelset"] {
				.component_selections {
					margin-bottom: $fifty;
					@include media( $large-screen ) {
						width: 75%;
					}
				}
				.component_wrap {
					.price {
						display: none;
					}
				}
			}
			[data-nav_title="Frame"] {
				.component_options_select {
					width: 75%;
				}
			}
			[data-nav_title="Review Configuration"] {
				.composite_wrap {
					.composite_price {
						display: none !important;
					}
				}
				.composite_summary {
					.summary_title {
						display: none;
					}
					.component_section_title {
						label {
							font-style: italic;
							font-weight: 400;
						}
					}
					.summary_elements {
						@include media( $large-screen ) {
							width: 75%;
						}
						li.summary_element {
							text-align: left;
							width: 100%;
							.summary_element_wrapper_outer {
								padding: 0;
								.summary_element_link {
									&:hover {
										border: 0;
										box-shadow: none;
									}
								}
								.summary_element_wrapper_inner {
									padding: 0;
									.summary_element_title {
										h3 {
											font-weight: 700;
										}
									}
									.summary_element_image {
										display: none;
									}
									.summary_element_selection {
										.summary_element_content {
											@include span-columns(6);
											strong {
												display: none;
											}
										}
										.summary_element_selection_prompt {
											display: inline;
											float: right;
											width: auto;
										}
									}
									.summary_element_price {
										font-weight: 700;
									}
								}
							}
							&:nth-child(2) {
								.summary_element_price {
									display: none;
								}
								.content_bundled_product_title {
								}
							}
						}
					}
				}
			}
		}
	}
	.related {
		@include row();
	}
}

.geometry-image-with-content {
	.content {
		.geometry-text {
			padding: $fifty 0;
		}
	}
}

.skip-to-review {
	@include row();
	margin-bottom: $fifty;
	text-align: right;
	a {
		color: $black;
		cursor: pointer;
		font-style: italic;
	}
}

.current-configuration {
	@include outer-container;
	.current-price {
		@include span-columns(6);
		h4 {
			color: $light_blue;
		}
	}
	.user-choices {
		@include span-columns(6);
		.drivetrain,
		.cockpit,
		.wheelset {
			span {
				strong {
					display: none;
				}
			}
		}
		.paint {
			span {
				strong {
					display: none;
				}
			}
		}
	}
}

.single-good {
	@include outer-container;
	@include media( $large-screen ) {
		margin-bottom: $hundred;
	}
	.image {
		@include span-columns(8);
		position: relative;
	}
	.summary {
		@include span-columns(4);
		.in-stock {
			display: none;
		}
		.price {
			.amount {
				font-size: $h1-font-size;
				line-height: 1;
			}
		}
		.product-content {
			clear: both;
		}
		.simple-product {
			.price {
				@include span-columns(4);
			}
			.cart {
				@include span-columns(8);
				margin-bottom: $fifty;
				.quantity {
					@include span-columns(4);
				}
				.single_add_to_cart_button {
					@include span-columns(7);
					@include shift(1);
				}
			}
		}
		.variable-product {
			.variations {
				margin: 0;
				td.label {
					display: none;
				}
				td.value {
					border: 0;
					select {
						margin-bottom: 0;
					}
				}
			}
			.single_variation_wrap {
				@include row();
				margin-bottom: $twentyfive;
				.woocommerce-variation {
					@include span-columns(4);
				}
				.woocommerce-variation {
					display: none !important;
				}
				.woocommerce-variation-add-to-cart {
					@include span-columns(8);
					.quantity {
						@include span-columns(4);
						input {
							margin-bottom: 0;
						}
					}
					.single_add_to_cart_button {
						@include span-columns(6);
						@include shift(2);
						@include omega;
					}
				}
			}
		}
	}
}
