.archive-posts {
	.post {
		.full-width-content {
			img {
				margin-bottom: 0;
			}
		}
		.image {
			// @include transition(opacity 0.2s ease-in-out);
			// background: $white;
			a {
				img {
					// opacity: 1;
					// @include transition(opacity 0.2s ease-in-out);
				}
				&:hover {
					img {
						// opacity: .5;
					}
				}
			}
			&:hover {
			}
		}
	}
}

.blog-posts {
	@include outer-container;
	.post {
		@include span-columns(10);
		@include shift(1);
		margin-bottom: $hundred;
		&:last-of-type {
			margin-bottom: 0;
		}
		.content {
			margin-bottom: $twentyfive;
			@include media( $large-screen ) {
				@include span-columns(4);
				margin-bottom: 0;
			}
		}
		figure, img {
			margin: 0 0 $fifty;
			width: 100% !important;
			.wp-caption-text {
				font-size: 16px;
				font-style: italic;
			}
		}
		figure {
			img {
				margin-bottom: 0;
			}
		}
		.image {
			@include row();
			@include media( $large-screen ) {
				@include span-columns(8);
			}
			img {
				float: left;
			}
		}
		.full-width-content {
			@include span-columns(12);
		}
		.gallery-container {
			@include row();
			.blog-gallery {
				@include span-columns(9);
				img {
					margin-bottom: $five;
				}
			}
			.blog-gallery-thumbs {
				@include span-columns(3);
				.slide {
					@include span-columns(3);
					@include omega(4n);
					img {
						margin-bottom: 2.35765%;
					}
				}
			}
		}
	}
}

.single-post {
	.full-width-content {
		img {
			margin-bottom: 0;
		}
	}
}

.post-navigation {
	@include outer-container;
	margin-bottom: $hundred;
	.older {
		@include span-columns(6);
		text-align: center;
	}
	.newer {
		@include span-columns(6);
		text-align: center;
	}
}
