.archive-posts {
	.post {
		.image {
			@include transition(background 0.2s linear);
			background: $white;
			a {
				img {
					opacity: 1;
					@include transition(opacity 0.2s linear);
				}
				&:hover {
					img {
						opacity: .5;
					}
				}
			}
			&:hover {
				background: $black;
			}
		}
	}
}

.blog-posts {
	@include outer-container;
	.post {
		@include span-columns(8);
		@include shift(2);
		margin-bottom: $hundred;
		.content {
			@include span-columns(4);
		}
		figure, img {
			margin: 0 0 $fifty;
			width: 100% !important;
			.wp-caption-text {
				font-size: 16px;
				font-style: italic;
			}
		}
		figure {
			img {
				margin-bottom: 0;
			}
		}
		.image {
			@include span-columns(8);
			border: 1px solid $dark_gray;
			padding: $fifteen;
			img {
				float: left;
			}
		}
		.full-width-content {
			@include span-columns(12);
		}
		.gallery-container {
			@include row();
			.blog-gallery {
				@include span-columns(9);
				img {
					margin-bottom: $five;
				}
			}
			.blog-gallery-thumbs {
				@include span-columns(3);
				.slide {
					@include span-columns(3);
					@include omega(4n);
					img {
						margin-bottom: 2.35765%;
					}
				}
			}
		}
	}
}

.post-navigation {
	@include outer-container;
}
